.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
templates/**
python_package/**
packages/**
media/**
sandbox/**
examples/**
docs/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
