.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
node_modules/**
**/*.map
.gitignore
tsconfig.json
.yarnrc
**/not_needed/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.sh
